body {
    background-size: cover;
    background-image: url("../images/fondo_register.jpg");
}


.img_profile {
    position: absolute;
    width: 50%;
    height: 70%;
    overflow: hidden;
    object-fit: cover;
    left: 40%;

    border-radius: 20px;
    outline: none;
}

    .img_profile img {
        border-radius: 20px;
        display: block;
        width: 100%;
        height: auto;
    }

.borde{
    border: 1px solid black;
    
}
.img_profileDiv
{
    position: absolute;
    width: 40%;
    height: 50%;
    
    top: 10%;
}

.ventComp
{
    position: relative;
    top: 90%;
    width: 20%;
    left: 16%;
    font-size: 130%;
    
    text-align: center;
}

.butteditar
{
    float: right;
}
.labtext
{
    width: 80%;
    
    position: absolute;
}
.separadorvert{
    width: 1px;
    height: 35px;

}
.separadorhor{
    width: 20px;
    height: 1px;
}
.textboxes
{
    float: right;
    position: absolute;
    left: 50%;
    border-radius: 20px;
    text-align: center;
    font-size: 100%;
    color: black;
    
}
.divimgdatos
{
    width: 100%;
    height: 60%;

}
.ComentArticulos
{
    width: 100%;
    height:40%;
}
.Articulos
{
    position: absolute;
    float:right;
    height: 40%;
    width: 50%;
    left: 50%
}
.Comentarios
{
    position: absolute;
    float: left;
    height: 30%;
    width: 40%;
    left: 5%;
}

.comentarios-box{
    position:relative;
    height: 100%;
    width: 100%;
    
}
.TitleUsu
{
    font-weight: bold;
    vertical-align: top;
}
.TitleAccion
{
    font-style:italic;
}
.Coment
{
    margin-left:3%;
}
.ImgArticle
{
    width:10%;
    height:auto;
    
}
.ArtImgDiv 
{
    position:relative;
    width:auto;
    height: 30%;
}
.Articulo 
{
    width: auto;
    height: auto;
}
.datosusu 
{
    left: 55%;
    position:absolute;
    width: 40%;
   
    float: right;
    top: 10%;
}
.fondoPopup {
    background-color: black;
    filter: opacity(90%);
    opacity: 0.8;
}

.PopupCerrar {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.PopupAceptar {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    background-color: white;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    background-color: white;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    background-color: white;
}

.FileUpload 
{
    position: absolute;
    left: 50%;
    float: right;
}

.CuadroExt
{
    position: absolute;
    top: 15%;
    left: 20%;
    background-color: white;
    border-radius: 30px;
    width: 60%;
    height: 70%;
}

.imagenArticulo
{
    position: absolute;
    width: 30%;
    height: 60%;
}

.nombreArticulo
{
    position: absolute;
    top: 80%;
    left: 5%;
}

.boton_ArticuloNext
{
    position: absolute;
    left: 50%;
    top: 40%;
}

.boton_ArticuloPrev 
{
    position: absolute;
    left: 50%;
    top: 50%;
}

.ErrorNombre {
    position: absolute;
    top: 100%;
}

.ErrorEmail {
    position: absolute;
    top: 100%;
}

.ErrorNif {
    position: absolute;
    top: 100%;
}

.ErrorEdad {
    position: absolute;
    top:100%;
}

.ErrorTelefono {
    position: absolute;
    top: 100%;
}