body {
    background-image: url("../images/fondo_register.jpg");
}

.center-container {
    position: absolute;
    top: 16%;
    left: 20%;
    background-color: white;
    border-radius: 30px;
    width: 60%;
    height: 70%;
   
}



.campo {
    position: relative;
    height: 25%;
    width: 90%;
    top: 11px;
    left: 11px;
}

.texto {
    position: relative;
    top: 13%;
    height: 24%;
    font-size: 140%;
    width: 39%;
    left: 339px;
}

.parametro-introducido {
    position: absolute;
    top: 39%;
    width: 22%;
    height: 16%;
    border-bottom: 1px solid #000;
    outline: none;
    left: 24px;
}



.precio {
    position: absolute;
    height: 108%;
    top: 130%;
    width: 14%;
    left: 50%;
    text-align: center;
    color: black;
    font-size: 120%;
}

.ciudad {
    position: absolute;
    height: 6%;
    top: 64%;
    width: 14%;
    left: 8%;
    text-align: center;
    color: black;
    font-size: 120%;
}

.foto {
    position: absolute;
    height: 50%;
    width: 35%;
    top: 5%;
    background-color: forestgreen;
    overflow: hidden;
    left: 5%;
}

.foto img {
        width: 100%;
        height: auto;
        display: block;
}

.debajo-imagen{
    position: absolute;
    width: 35%;
    top: 60%;
    
    height: 35%;
    left: 5%;
}

.campos-izq {
    position: relative;
    
    height: 35%;
    font-size: 140%;
    width: 100%;
    
}

.parametro-introducido {
    position: relative;
    float: right;
    width: 50%;
    transform: translateX(-20%) translateY(-80%);
    border-radius: 20px;
    height: 40%;
}


.descripcion{
    position: absolute;
    top: 5%;
    width: 35%;
    left: 55%;
    height: 50%;
    border-radius: 20px;
    resize: none;
    
}

.AddDescription {
    position: absolute;
    border: 1px solid #000;
    border-radius: 20px;
    width: 90%;
    height: 90%;  
    outline: none;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    resize: none;
}


.vendedor {
    position: absolute;
    width: 35%;
    top: 55%;
    height: 20%;
    left: 55%;  
}



.modificar{
    position:absolute;
    top: 80%;
    left: 55%;
    width: 35%;
    height: 15%;
}

.texto_modificado {
    position: absolute;
    top: 93px;
    left: 32px;
    height: 24px;
    width: 173px;
    margin-top: 0px;
    align-content:center;
}

.borde{
    border: 1px solid black;
}

.vendedor-parametros{
    position:relative;
    width: 50%;
    left: 25%;
    margin-top: 5%;
    border-radius: 20px;
    text-align: center;
    font-size: 100%;
}

.modificar-boton{
    position: relative;
    left: 25%;
    
    border-radius:20px;
    background-color: black;
    color: white;
    font-size: 100%;
    width: 60%;
    left: 20%;
    margin-top: 3%;
    
}

.modificar-boton:hover{
    background-color: lightskyblue;
}

.parametros{
    position:relative;
    float: right;
    width: 60%;
    border-radius: 20px;
    font-size: 80%;
    text-align: center;
}