body {
    background-size: cover;
    background-image: url("images/login.jpg");
}
.contentbody {
    position: absolute;
    top: 15%;
    left: 20%;
    background-color: white;
    border-radius: 30px;
    width: 60%;
    height: 70%;
}
label {
    color: darkgoldenrod;
}
.Balance
{
    height: 30%;
    width: 100%;
}
.DineroBalance {
    position: absolute;
    height: 9%;
    width: 30%;
    left: 5%;
    text-align: left;
    font-size: 250%;
    font-weight: 600;
}
.divBotones {
    position: absolute;
    height: 10%;
    width: 35%;
    left: 5%;
    top: 20%
}
.Botones {
    height: 50%;
    width: 45%;
}
.Title
{
   font-size:xx-large;
}
.Title2
{
    font-style: italic;
    font-size: x-large;
}
.TransyCuentas
{
    width: 100%;
    height: 70%;

}
.Transacciones {
    position: absolute;
    width: 35%;
    height: 90%;
    left: 2%
}
.divCuentas {
    width: 50%;
    height: 90%;
    float: right;
}
.divBotonesCuentas {
    position: absolute;
    height: 10%;
    width: 35%;
    left: 55%;
    top: 50%
}
.BotonesCuentas
{
    height: 50%;
    width: 45%;
}
.textboxes {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 30%;
    float: left;
}
.InfoCuentas {
    position: absolute;
    width: 35%;
    left: 50%;
}
.separador
{
    height:25px;
}
.fondoPopup
{
    background-color: black;
    filter: opacity(90%);
    opacity: 0.8;
}

.PopupCerrar {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.PopupAceptar {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.modal-footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    background-color: white;
}
.modal-body
{
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    background-color: white;
}
.close
{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.modal-title
{
    margin-bottom: 0;
    line-height: 1.5;
}
.modal-header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    background-color: white;
}
.ErrorTransaciones {
    position: absolute;
    height: 20%;
    width: 40%;
    left: 5%;
    top: 15%;
}
.ErrorTarjetas {
    position: absolute;
    height: 30%;
    width: 35%;
    left: 56%;
    top: 46%;
}