.body 
{
    background-color:dimgray;
    width:100%;
    position:absolute;
    height:100%;
}
.contentbody {
    top: 10%;
    width: 90%;
    height: 100%;
    position: absolute;

}
label
{
    color:antiquewhite;
}
.Balance
{
    height: 30%;
    width: 100%;
}
.DineroBalance
{
    width: auto;
    height:50%;
}
.divBotones
{
    height:50%;
    width: 35%;
}
.Botones
{
    height: 50%;
    width: 45%;
}
.Title
{
   font-size:xx-large;
}
.Title2
{
    font-style: italic;
    font-size: x-large;
}
.TransyCuentas
{
    width: 100%;
    height: 70%;

}
.Transacciones
{
    width: 35%;
    height: 90%;
    float: left;
}
.divCuentas {
    width: 50%;
    height: 90%;
    float: right;
}
.divBotonesCuentas
{
    height: 20%;
}
.BotonesCuentas
{
    height: 50%;
    width: 20%;
}
.textboxes
{
    float: right;
}
.InfoCuentas
{
    width: 35%;
}
.separador
{
    height:10px;
}
.fondoPopup {
    
    background-color: black;
    filter: alpha(opacity=90);
    opacity: 0.8;
    
    /*
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    opacity: 0.8;
    transition: opacity .15s linear;
    */
}

.PopupCerrar {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.PopupAceptar {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.modal-footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    background-color: white;
}
.modal-body
{
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    background-color: white;
}
.close
{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.modal-title
{
    margin-bottom: 0;
    line-height: 1.5;
}
.modal-header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    background-color: white;
}