body 
{

}

.imgperfbox 
{
    width: 30%;
    height: 20%;
    
}
.CuadroExt
{
    width: 100%;
    height: 100%;
}
img 
{
    width: 100%;
    height: 100%;
    object-fit: fill;

}

.butteditar
{
    float: right;
}
.labtext
{
    width: 80%;
    height: fit-content();
    position: absolute;
}
.separadorvert{
    width: 1px;
    height: 50px;

}
.separadorhor{
    width: 20px;
    height: 1px;
}
.textboxes
{
    float: right;
}
.divimgdatos
{
    width: 100%;
    height: 60%;

}
.Articulos
{
    width: 100%;
    height:40%;
}
.datosusu 
{
    left: 35%;
    position:absolute;
    width: 25%;
    height: fit-content();
    float: right;
    top: 25px;
}